:root {
    --bg-color: #eff3f6;
    --text-color: #000000;
    --van-popup-background: #eff3f6;
    --van-search-content-background: #ffffff; /* 你可以加更多變數 */
    --van-search-background: #f5f6f7;
    --van-radius-sm: 8px;
    --van-toast-font-size: 16px;
    --page-bg: #eff3f6; /* 全頁背景色 (淺灰藍) */
}
